  .wrapper{
    width: 913px;
    margin: 0 auto;
    height: 200px;
  }

  .top-header{
    position: relative;
  }

  .header-text-logo{
    position: absolute;
    font-family: Lucida Sans Unicode, Arial;
    top: 135px;
    left: 3px;
    font-size: 30px;
    color: #cececd;
  }

  .header-text-logo span{
    font-size: 52px;
  }

  .zazor {
    padding-left: 1px;
  }

  span.comua {
    font-size: 31px;
    margin-left: -10px;
  }

  .header-text-logo-two{
    position: absolute;
    font-family: Lucida Sans Unicode, Arial;
    color: #b91200;
    font-size: 26px;
    top: 188px;
    left: 65px;
  }

  .number:before{
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/fone.png) no-repeat 1px 1px, linear-gradient(to top, #236988, #0c3357);
    border-radius: 11px;
    left: 7px;
  }

  .number{
    position: relative;
    margin-top: 22px;
    padding-left: 31px;
    color: #5e696d;
    font-size: 19px;
    font-family: "Arial", sans-serif;
    display: inline-block;
  }

  .form-size{
    width: 495px;
    height: 27px;
    background: linear-gradient(to top, #0c3357, #236988);
    border-radius: 4px;
    position: relative;
    display: inline-block;
    left: 11px;
    top: -5px;
    box-shadow: 3px 3px 11px -5px #000;
  }

  .form-size:before{
    position: absolute;
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    background: url(../img/user.png) no-repeat 1px 1px;
    border-radius: 11px;
    left: 7px;
    top: 4px;
  }

  .text-field{
    margin-top: 5px;
    width: 106px;
    height: 10px;
    font-size: 11px;
    padding-left: 5px;
  }

  .first-field{
    margin-left: 26px;
  }

  #lastname{
    margin-right: 4px;
  }

  .header-text{
    color: white;
    font-size: 11px;
    display: inline-block;
    font-family: Lucida Sans Unicode, Arial;
    letter-spacing: -0.3px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: -2px;
  }
  
  .header-text-one{
    color: white;
    font-size: 11px;
    display: inline-block;
    font-family: Lucida Sans Unicode, Arial;
    letter-spacing: -0.3px;
    margin-left: -6px;
  }
  
  #header-text-reg {
    margin-left: -1px;
  }

  #header-text-two{
    color: #bfbfbf;
    position: absolute;
    margin-left: 21px;
    margin-top: 4px;
    font-size: 12px;
    border-bottom: 1px solid #bfbfbf;
    letter-spacing: 0;
  }

  .icons{
    width: 75px;
    height: 19px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    margin-left: 24px;
    margin-top: 18px;
  }

  .icons-img-one{
    margin-left: 9px;
  }

  .icons-img-two{
    margin-left: 4px;
  }

  .icons-img-three{
    margin-left: 5px;
  }

  .header-bg{
    margin-left: 2px;
    margin-top: 5px;
  }

  .header-menu{
    height: 34px;
    width: 100%;
    background-color: #101213;
    margin-top: 1px;
    border-radius: 8px;
    color: white;
    box-shadow: 3px 3px 11px -5px #000;
  }

  .header-menu-point{
    display: inline-block;
    padding: 4px 18px 0 19px;
    height: 21px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    font-family: Lucida Sans Unicode, Arial;
    margin: -2px;
  }
  
  .header-menu-point-1{
    margin-left: -5px;
  }

  .header-menu-point-2{
    margin-left: -11px;
  }

  .header-menu-point-3{
    margin-left: -15px;
  }

  .first-menu{
    padding-left: 128px;
    padding-top: 6px;
    display: inline-block;
  }

  .header-menu-point:hover{
    background: linear-gradient(to top, #0c3357, #236988);
    border-radius: 13px;
  }

  .second-menu{
    position: relative;
    font-family: Lucida Sans Unicode, Arial;
    display: inline-block;
    font-size: 11px;
    padding-left: 77px;
    top: -2px;
    left: 1px;
  }

  .header-menu-spoint{
    display: inline-block;
    margin-right: 13px;
  }

  .second-menu:before{
    position: absolute;
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background: url(../img/cart.png) no-repeat 1px 1px;
    left: 48px;
  }

  .blue-text{
    font-size: 12px;
    color: #0d5a8f;
  }

  .blue-text-right{
    margin-left: 6px;
  }

  .header-form{
    display: inline-block;
    color: #0d5a8f;
    font-weight: bold;
    font-family: Lucida Sans Unicode, Arial;
    font-size: 10px;
    letter-spacing: 1px;
  }

  .header-f{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }

  .header-form:nth-child(2){
    font-size: 12px;
    position: absolute;
    left: 58px;
    top: -2px;
    margin-left: 67px;
  }

  .header-form:nth-child(1){
    position: absolute;
    left: 20px;
    top: 2px;
  }

  .header-form:nth-child(3){
    position: absolute;
    left: 354px;
  }

  .header-form-select{
    display: inline-block;
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 10px;
    line-height: 9px;
    margin-left: 17px;
  }

  .form-auto{
    width: 413px;
    height: 132px;
    border: 1px solid #b6b6b7;
    border-radius: 17px;
    margin-top: 13px;
    margin-left: 4px;
    position: relative;
    box-shadow: 3px 3px 11px -5px #000;
  }

  .select-field{
    width: 116px;
    background: transparent;
    height: 18px;
    border-left: 2px solid #a8a8a8;
    border-top: 2px solid #a8a8a8;
    border-right: 0;
    border-bottom: 0;
    border-radius: 0;
    line-height: 1;
  }

  .wrapper-select{
    display: inline-block;
    margin-bottom: 5px;
    position: absolute;
    left: 92px;
    overflow: hidden;
    height: 18px;
    background: url(../img/arrow.jpg) no-repeat right white;
    width: 99px;
  }

  .year{
    width: 55px;
  }

  .marg-section{
    margin-bottom: 2.5px;
  }

  .select-group{
    position: relative;
  }

  .select-group-two{
    display: inline;
    left: 205px;
    top: -90px;
  }

  .gray-text{
    color: #77858b;
  }
  
  .search_link {
    font-size: 14px;
    font-family: "Arial";
    color: rgb(21, 68, 103);
    font-style: italic;
    line-height: 2;
    position: absolute;
    left: 343px;
    top: 100.989px;
  }
  
  .left_menu_C {
    background-color: white;
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 12px;
    font-weight: 600;
    width:190px;
    display: inline-block;
    float: left;
}

.katalog_l,
.katalog_r {
    border: 1px solid rgb( 121, 135, 141 );
    border-radius: 15px;
    box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
    font-size: 14px;
    font-family: "Lucida Sans Unicode";
    color: rgb( 17, 65, 101 );
    width: 100%;
    padding: 3px 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.katalog_l,
.katalog_r img {
    margin-right: 3px;
}

.icon {
    border-radius: 50%;
    background-image: -moz-linear-gradient( -90deg, rgb( 32, 105, 136 ) 0%, rgb( 17, 65, 101 ) 59.229%, rgb( 12, 50, 86 ) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb( 32, 105, 136 ) 0%, rgb( 17, 65, 101 ) 59.229%, rgb( 12, 50, 86 ) 100%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}

.katalog_l h2 {
    display: block;
    margin: auto 0;
}

.list {
  padding-left: 35px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.list li {
  list-style-image: url(../img/marker-small.png);
}

.list a {
  font-size: 12px;
  font-family: "Lucida Sans Unicode";
    color: rgb(17, 65, 101);
    line-height: 1.819;
  color: #869095;
  text-decoration: none;
}

.list a:hover {
  font-style: italic;
  color: #0c3256;
  text-decoration: underline;
}

.section {
  width: 148px;
    padding: 2px 0 2px 3px;
  border: 1px solid #465961;
  border-radius: 13px;
  font: 13px Arial;
  color: #114165;
  box-shadow: 0px 2px 2px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.section img {
    margin-right: 3px;
}

  main{
    margin-top: 18px;
  }

  .wheels-img{
    width: 526px;
    height: 626px;
    background: linear-gradient(to top, #93a7b0, #e5e7e8);
    display: inline-block;
    margin-top: -1px;
  }

  .block-1-wheels {
    margin-top: 12px;
  }

  .block-2-wheels {
    margin-top: 24px
  }

  .block-3-wheels {
    margin-top: 26px;
  }

  .no-before:before{
    border: hidden;
  }

  .item{
    text-align: center;
    width: 125px;
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0 0 0 20px;
  }

  .p-img{
    width: 136px;
    height: 126px;
    background-color: white;
    border: 1px solid #a7b1b4;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-left: 3px;
  }

  .p-img img {
    margin-top: 4px;
    margin-right: 5px;
  }

  .first-title{
    color: #206988;
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
  }

  .second-title{
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 12px;
    margin-left: 12px;
  }

  .item figcaption{
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #114165;
    margin-left: 35px;
  }
.right_menu_C {
  background-color: white;
  font-family: Arial, "Lucida Sans Unicode";
  font-size: 12px;
  font-weight: 600;
  width:190px;
  display: inline-block;
  float: right; 
}

.check {
  margin: 12px 0 16px 10px;
}

.check__inpput {
  font-size: 12px;
  line-height: 18px;
  font-family: "Lucida Sans Unicode";
  color: rgb(17, 65, 101);
  line-height: 1.819;
  color: #465961;
}

.check label {
  padding-left: 14px;
}

.second_submit {
  height: 24px;
  width: 80px;
  margin-left: 34px;
  border: 0px solid;
  border-radius: 13px;
  font-size: 11px;
  color: white;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  background-image: -o-linear-gradient(top, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
  box-shadow: 3px 4px 7px -2px rgba(0,0,0,0.75);
}

  .brands {
    width: 678px;
    height: 13px;
    display: flex;
    justify-content: space-between;
    margin: 38px 116px;
  }

  .brands a {
    display: block;
  }

  footer {
    width: 908px;
    height: 100px;
    display: inline-flex;
    flex-flow: column;
    padding-top: 11px;
    background-color: #213a4d;
    border-top: 1px solid #242c3e;
    border-right: 1px solid #242a3c;
    border-left: 1px solid #223346;
    font-family: Arial, "Lucida Sans Unicode";
  }

  footer .links {
    margin: 0 auto;
  }

  ul {
    list-style: none;
  }

  footer li {
    float: left;
    margin: 0px auto;
    padding: 0px 12px;
    border-right: 1px solid #7a878f;
  }

  footer li:first-child {
    border-left: none;
  }

  footer a {
    color: #bec6c9;
    display: block;
    font-size: 12px;
    text-decoration: none;
  }
  
  footer div {
    margin: 12px auto;
    color: #7f4740;
    font-size: 11px;
  }